{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}

<h1 class="mb-4">🗑️ {% translate "Delete Trailer" %}</h1>

<div class="card shadow">

    <div class="card-body">

        <p>
            Are you sure you want to delete
                <strong>{{ trailer }}</strong>?
        </p>

        <form method="POST">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">
                🗑️ {% translate "Delete Trailer" %}
            </button>

            <a href="{% url 'trailers' %}"
               class="btn btn-secondary">
                {% translate "Cancel" %}
            </a>

        </form>

    </div>

</div>

{% endblock %}
